div {
    /* height: 200px; */
}

.debug {
    border: 1px solid red;
}

.debug-violet {
    border: 1px solid violet;
}

div#container {
    height: 200px;
    background-color: darkgreen;
}

div#container {
    background-color: yellow;
}

div#container > div.carre {
    position: absolute;
}
