.debug {
    border: 2px solid red;
}

div.container {
    position: absolute;
    border: 5px solid black;
}

div.personnage {
    position: absolute;
}

div.trooper {
    border: 1px solid grey;

    width: 10px;
    height: 10px;
}

div.droid {
    border: 1px solid black;

    width: 10px;
    height: 10px;
}

div.jedi {
    border: 1px solid red;
    background: red;

    width: 10px;
    height: 10px;
}

#btnStart {
}
